# Python Virtual Environments
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Temporary & Output files
.tempmediaStorage/
useless_project_temp/
push.bat
*.log
captures/*
!captures/.gitkeep
